1.	Добавление Библиотек для анализа метрик.
a.	Pandas
b.	NumPy
c.	MatplotLib
d.	Seabornё
e.	Statmodels

добавить вызуализацию

# Подготовка данных

сравнить данные с выгрузкой ексель, что бы корректно работала, после нескольких недель полностью перейти на текущий хормат обработки запросов.

In [104]:
import pandas as pd

In [105]:
f_103 = pd.read_csv('f_103_year.csv')
hpi_period_year = pd.read_csv('hpi_period_year.csv')
plan25_fact24 = pd.read_excel('фактические_значения_2024.xlsx')

print('Файлы считаны {today}') # сюда можно добавить метод который возвращает сегодняшнюю дату а время

Файлы считаны {today}

In [106]:
# Преобразование столбца время в формат дата тайм
hpi_period_year['Дата и время приема'] = pd.to_datetime(hpi_period_year['Дата и время приема'])
f_103['Дата поступления'] = pd.to_datetime(f_103['Дата поступления'], dayfirst=True)

In [107]:
f_103['Дата поступления'] = pd.to_datetime(f_103['Дата поступления'], format='%Y-%m-%d')

In [108]:
# Добавление нового столбца с номером недели и преобразование его в тип datetime
hpi_period_year['номер недели'] = hpi_period_year['Дата и время приема'] # добавляю столбец номер недели
hpi_period_year['месяц'] = hpi_period_year['Дата и время приема'] # добавляю столбец месяц
hpi_period_year['день недели'] = hpi_period_year['Дата и время приема'].dt.day_name() # добавляю столбец день недели
hpi_period_year['номер недели'] = pd.to_datetime(hpi_period_year['номер недели']) # преобразую столбец номер недели в date time
hpi_period_year['номер недели'] = hpi_period_year['номер недели'].dt.isocalendar().week # получаем неделю из столбца дата приема
hpi_period_year['месяц'] = pd.to_datetime(hpi_period_year['месяц'])# преобразую столбец номер недели в date time
hpi_period_year['месяц'] = hpi_period_year['Дата и время приема'].dt.strftime('%B') # получаем месяц из столбца дата приема

In [109]:
f_103['номер недели'] = f_103['Дата поступления'] # добавляю столбец номер недели
f_103['месяц'] = f_103['Дата поступления'] # добавляю столбец месяц
f_103['день недели'] = f_103['Дата поступления'].dt.day_name()
f_103['номер недели'] = f_103['номер недели'].dt.isocalendar().week # получаем неделю из столбца дата приема
f_103['месяц'] = f_103['Дата поступления'].dt.strftime('%B') # получаем месяц из столбца дата приема

In [110]:
hpi_period_year.head(2) # предпросморт

,ШПИ,ФИО/Название отправителя,Дата и время приема,Тип,Способ доставки,Адрес нормализованный,Тип получателя,Получатель,Тариф,номер недели,месяц,день недели
0,80545604206480,Булгакова Наталия Геннадьевна,2025-01-01 00:18:06,заказное,бумажное,"г Клин, Московская обл, ул Гайдара, д. 25, 141601",ЮЛ,ИФНС РОССИИ ПО Г. КЛИНУ МОСКОВСКОЙ ОБЛАСТИ,75.5,1,January,Wednesday
1,80545604206497,Даурбеков Хусен Баширович,2025-01-01 00:20:19,заказное,бумажное,"г Москва, Москва г, ул Кировоградская, д. 22, ...",ЮЛ,"ТСЖ ""КИРОВОГРАДСКАЯ, 22-2""",72.0,1,January,Wednesday

In [111]:
f_103.head(2) # предпросморт

,Название консолидатора (ID),Название клиента (ID),Дата поступления,Идентификатор подразделения,Тип доставки почтового отправления,Тип почтового отправления,Ф103,Количество РПО в ф103,Дата списка,Дата квитанции,Тариф за ед. (без НДС),Дополнительные услуги (без НДС),Количество ЭУВ,Сумма по списку (без НДС),Сумма по списку с учетом скидки(без НДС),В том числе электронных (вспомог. поле),В том числе бумажных (вспомог. поле),номер недели,месяц,день недели
0,Розничный клиент_РАСПР (28),Розничный клиент_РАСПР (28),2025-01-01,NaN,Электронное,Простое,2.801013e+11,5,01.01.2025,02.01.2025,"31,00р.",0.0,0.0,155.0,155.0,5,0,1,January,Wednesday
1,Розничный клиент_РАСПР (28),Розничный клиент_РАСПР (28),2025-01-01,NaN,Бумажное,Простое,2.801013e+11,73,01.01.2025,02.01.2025,"31,00р.",0.0,0.0,2305.0,2305.0,0,73,1,January,Wednesday

In [112]:
hpi_period_year.describe().round(2)

                 Дата и время приема      Тариф  номер недели
count                         564305  564305.00      564305.0
mean   2025-01-17 13:35:19.423577344      71.46           3.2
min              2025-01-01 00:10:25      31.00           1.0
25%              2025-01-13 17:14:42      72.00           3.0
50%              2025-01-17 12:47:27      72.00           3.0
75%              2025-01-22 11:10:31      75.50           4.0
max              2025-01-26 23:59:58      79.00           4.0
std                              NaN       8.82          0.82

In [113]:
f_103.describe().round(2)

,Дата поступления,Идентификатор подразделения,Ф103,Количество РПО в ф103,Дополнительные услуги (без НДС),Количество ЭУВ,Сумма по списку (без НДС),Сумма по списку с учетом скидки(без НДС),В том числе электронных (вспомог. поле),В том числе бумажных (вспомог. поле),номер недели
count,104,0.0,1.040000e+02,104.00,104.00,104.00,104.00,104.00,104.00,104.00,104.0
mean,2025-01-13 12:00:00,NaN,2.813513e+11,5426.01,7642.88,277.92,395396.87,395396.87,888.22,4537.79,2.62
min,2025-01-01 00:00:00,NaN,2.801013e+11,5.00,0.00,0.00,155.00,155.00,0.00,0.00,1.0
25%,2025-01-07 00:00:00,NaN,2.807013e+11,189.75,0.00,0.00,6167.38,6167.38,0.00,0.00,2.0
50%,2025-01-13 12:00:00,NaN,2.813513e+11,1117.00,0.00,0.00,48567.75,48567.75,2.50,36.50,3.0
75%,2025-01-20 00:00:00,NaN,2.820013e+11,5965.75,921.25,33.50,433494.00,433494.00,242.75,2101.00,4.0
max,2025-01-26 00:00:00,NaN,2.826013e+11,35615.00,62095.00,2258.00,2680502.00,2680502.00,7165.00,35615.00,4.0
std,NaN,NaN,7.536320e+08,9942.08,17671.14,642.59,753280.12,753280.12,2046.88,10138.77,1.08

# Факт по году (разбивка план и факт) - что бы выгружать в отчет на 1 лист

In [114]:
plan25_fact24.rename(columns={'№ Недели': 'номер недели'}, inplace=True) # переименование столбца
plan25_fact24.head() # можно и не показывать, если буду знать, что эти данные есть - загружаю этот файл вначале - что бы показать прирост к прошлому году.

   номер недели  План 2025(объем)  Факт 2024(отправка)  Факт 2024(выручка)
0             1      48130.938575                36161           2470504.0
1             2     156563.643477               117627           7829410.5
2             3     196049.620739               147293           9830407.0
3             4     217311.300803               163267          10920360.5
4             5     238591.615118               179255          12025360.0

In [115]:
# план с разбивкой по неделям на 2025 год

# Объем отправлений

In [116]:
# корректно считает количетсво отправлений в неделю
weekly_count_hpi = hpi_period_year.groupby('номер недели')['ШПИ'].count().reset_index() # тут корректно счетает номера недели(можно делать сумму пока по этим данным
weekly_count_hpi
# сделать разбивку по дням недели

   номер недели     ШПИ
0             1   15076
1             2   97098
2             3  212014
3             4  240117

In [117]:
days_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
hpi_period_year['день недели'] = pd.Categorical(hpi_period_year['день недели'], categories=days_order, ordered=True) # задает последовательность - дни недели идут по порядку
weekly_count_hpi_3 = pd.pivot_table(hpi_period_year, values='ШПИ', index='номер недели', columns='день недели', aggfunc='count', fill_value=0, observed=False).reset_index()
weekly_count_hpi_3['Итого Объем'] = weekly_count_hpi_3.loc[:, weekly_count_hpi_3.columns != 'номер недели'].sum(axis=1) # убирает из расчета сумма по строке"номер недели"
merged_count = pd.merge(weekly_count_hpi_3,plan25_fact24, on='номер недели', how='outer') # добавляем данные из таблицы план_факт

In [118]:
merged_count['Выполнение плана'] =  merged_count['Итого Объем'] / merged_count['План 2025(объем)']
merged_count['Прирост к 2024 г'] =  merged_count['Итого Объем'] / merged_count['Факт 2024(отправка)']

In [119]:
merged_count.head(3)

,номер недели,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Итого Объем,План 2025(объем),Факт 2024(отправка),Факт 2024(выручка),Выполнение плана,Прирост к 2024 г
0,1,0.0,0.0,1038.0,2840.0,3823.0,3170.0,4205.0,15076.0,48130.938575,36161,2470504.0,0.313229,0.416913
1,2,4331.0,3900.0,7433.0,33395.0,32866.0,8224.0,6949.0,97098.0,156563.643477,117627,7829410.5,0.620182,0.825474
2,3,36365.0,37106.0,38475.0,40483.0,42091.0,7562.0,9932.0,212014.0,196049.620739,147293,9830407.0,1.081430,1.439403

# Выручка

Добавить столбец - прирост к 2025 г

План (по неделям) на 2025 г

Выполнение плана 2025 г

In [120]:
# поменять название переменных - что бы были понятные и читаемые
days_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
hpi_period_year['день недели'] = pd.Categorical(hpi_period_year['день недели'], categories=days_order, ordered=True) # задает последовательность - дни недели идут по порядку
weekly_count_hpi_4 = pd.pivot_table(hpi_period_year, values='Тариф', index='номер недели', columns='день недели', aggfunc='sum', fill_value=0, observed=False).reset_index()
weekly_count_hpi_4['Итого Выручка'] = weekly_count_hpi_4.loc[:, weekly_count_hpi_4.columns != 'номер недели'].sum(axis=1) # убирает из расчета сумма по строке"номер недели"
weekly_count_hpi_4['СДТ'] =  weekly_count_hpi_4['Итого Выручка'] / weekly_count_hpi_3['Итого Объем']
merged_revenue_count = pd.merge(weekly_count_hpi_4,plan25_fact24, on='номер недели', how='outer') # добавляем данные из таблицы план_факт
merged_revenue_count.head(3)

,номер недели,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Итого Выручка,СДТ,План 2025(объем),Факт 2024(отправка),Факт 2024(выручка)
0,1,0.0,0.0,72840.0,199687.5,268909.0,227417.0,301137.0,1069990.5,70.973103,48130.938575,36161,2470504.0
1,2,312871.0,278476.0,530272.0,2404322.0,2365000.5,576462.5,496849.0,6964253.0,71.723959,156563.643477,117627,7829410.5
2,3,2617634.0,2663756.5,2740026.0,2889245.0,3006950.0,544409.5,717842.5,15179863.5,71.598402,196049.620739,147293,9830407.0

In [121]:
merged_revenue_count['Выполнение плана'] =  merged_revenue_count['Итого Выручка'] / merged_revenue_count['План 2025(объем)'] 
merged_revenue_count['Прирост к 2024 г'] =  merged_revenue_count['Итого Выручка'] / merged_revenue_count['Факт 2024(выручка)']

необходимо добавить столбец План выручка 2025 - и поменять его в коде

In [122]:
merged_revenue_count.head(3)

,номер недели,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Итого Выручка,СДТ,План 2025(объем),Факт 2024(отправка),Факт 2024(выручка),Выполнение плана,Прирост к 2024 г
0,1,0.0,0.0,72840.0,199687.5,268909.0,227417.0,301137.0,1069990.5,70.973103,48130.938575,36161,2470504.0,22.230826,0.433106
1,2,312871.0,278476.0,530272.0,2404322.0,2365000.5,576462.5,496849.0,6964253.0,71.723959,156563.643477,117627,7829410.5,44.481930,0.889499
2,3,2617634.0,2663756.5,2740026.0,2889245.0,3006950.0,544409.5,717842.5,15179863.5,71.598402,196049.620739,147293,9830407.0,77.428681,1.544174

# ЭУВ

Добавить столбец Факт 2024 г

Добавить столбец прирост к 2024 г

In [123]:
hpi_period_year.head(3)

,ШПИ,ФИО/Название отправителя,Дата и время приема,Тип,Способ доставки,Адрес нормализованный,Тип получателя,Получатель,Тариф,номер недели,месяц,день недели
0,80545604206480,Булгакова Наталия Геннадьевна,2025-01-01 00:18:06,заказное,бумажное,"г Клин, Московская обл, ул Гайдара, д. 25, 141601",ЮЛ,ИФНС РОССИИ ПО Г. КЛИНУ МОСКОВСКОЙ ОБЛАСТИ,75.5,1,January,Wednesday
1,80545604206497,Даурбеков Хусен Баширович,2025-01-01 00:20:19,заказное,бумажное,"г Москва, Москва г, ул Кировоградская, д. 22, ...",ЮЛ,"ТСЖ ""КИРОВОГРАДСКАЯ, 22-2""",72.0,1,January,Wednesday
2,80545604206503,Амшуков Аслан Русланович,2025-01-01 00:25:01,заказное,электронное,"г Москва, Москва г, ул Вавилова, д. 19, 117312",ЮЛ,ПАО СБЕРБАНК,72.0,1,January,Wednesday

In [124]:
days_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
f_103['день недели'] = pd.Categorical(f_103['день недели'], categories=days_order, ordered=True) # задает последовательность - дни недели идут по порядку
weekly_count_hpi_5 = pd.pivot_table(f_103, values='Количество ЭУВ', index='номер недели', columns='день недели', aggfunc='sum', fill_value=0, observed=False).reset_index()
weekly_count_hpi_5['Итого ЭУВ'] = weekly_count_hpi_5.loc[:, weekly_count_hpi_5.columns != 'номер недели'].sum(axis=1) # убирает из расчета сумма по строке"номер недели"
weekly_count_hpi_5

день недели,номер недели,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Итого ЭУВ
0,1,0.0,0.0,138.0,134.0,212.0,205.0,197.0,886.0
1,2,266.0,211.0,444.0,1676.0,1772.0,499.0,363.0,5231.0
2,3,1804.0,1944.0,2053.0,2122.0,1979.0,555.0,568.0,11025.0
3,4,2150.0,2068.0,2189.0,2023.0,2258.0,566.0,508.0,11762.0

In [125]:
weekly_count_hpi_5['Выручка ЭУВ'] = weekly_count_hpi_5['Итого ЭУВ']* 33 # уточнить тариф
weekly_count_hpi_5

день недели,номер недели,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Итого ЭУВ,Выручка ЭУВ
0,1,0.0,0.0,138.0,134.0,212.0,205.0,197.0,886.0,29238.0
1,2,266.0,211.0,444.0,1676.0,1772.0,499.0,363.0,5231.0,172623.0
2,3,1804.0,1944.0,2053.0,2122.0,1979.0,555.0,568.0,11025.0,363825.0
3,4,2150.0,2068.0,2189.0,2023.0,2258.0,566.0,508.0,11762.0,388146.0

# Доля Электронной Доставки

убрать итого?

In [126]:
# Шаг 1: Создаем сводную таблицу
dolya_edo = hpi_period_year.pivot_table(index='номер недели', columns='Способ доставки', values='ШПИ', aggfunc='count', fill_value=0)#.reset_index()
# Шаг 2: Вычисляем общую сумму по дате
dolya_edo['Итого ЭД'] = dolya_edo.sum(axis=1)

# Шаг 3: Вычисляем доли
dolya_edo = dolya_edo.div(dolya_edo['Итого ЭД'], axis=0) * 100  # Умножаем на 100 для получения процентов

dolya_edo.reset_index(inplace=True)
dolya_edo.to_string(index=False, header=['номер недели', 'Бумага', 'Электрон', 'Итого ЭД'])
dolya_edo

Способ доставки  номер недели   бумажное  электронное  Итого ЭД
0                           1  85.082250    14.917750     100.0
1                           2  83.889472    16.110528     100.0
2                           3  83.528918    16.471082     100.0
3                           4  83.523865    16.476135     100.0

In [127]:
# Фильтрация ЭД для заказных писем
hpi_ordered = hpi_period_year.query("Тип == 'заказное'")
dolya_edo_ordered = hpi_ordered.pivot_table(index='номер недели', columns='Способ доставки', values='ШПИ', aggfunc='count', fill_value=0)
dolya_edo_ordered['Итого'] = dolya_edo_ordered.sum(axis=1)
dolya_edo_ordered = dolya_edo_ordered.div(dolya_edo_ordered['Итого'], axis=0) * 100
dolya_edo_ordered.reset_index(inplace=True)
dolya_edo_ordered.to_string(index=False, header=['Неделя', 'Бумага', 'Электрон', 'Итого'])
dolya_edo_ordered

Способ доставки  номер недели   бумажное  электронное  Итого
0                           1  85.058119    14.941881  100.0
1                           2  83.683454    16.316546  100.0
2                           3  83.285053    16.714947  100.0
3                           4  83.244301    16.755699  100.0

In [128]:

# Фильтрация ЭД для простых писем
hpi_simple = hpi_period_year.query("Тип == 'простое'")
dolya_edo_simple = hpi_simple.pivot_table(index='номер недели', columns='Способ доставки', values='ШПИ', aggfunc='count', fill_value=0)
dolya_edo_simple['Итого'] = dolya_edo_simple.sum(axis=1)
dolya_edo_simple = dolya_edo_simple.div(dolya_edo_simple['Итого'], axis=0) * 100
dolya_edo_simple.reset_index(inplace=True)
dolya_edo_simple.to_string(index=False, header=['Неделя', 'Бумага', 'Электрон', 'Итого'])
dolya_edo_simple

Способ доставки  номер недели   бумажное  электронное  Итого
0                           1  85.471056    14.528944  100.0
1                           2  88.823227    11.176773  100.0
2                           3  89.236791    10.763209  100.0
3                           4  88.964636    11.035364  100.0

# Тип письма

убрать итого?

In [129]:
# Шаг 1: Создаем сводную таблицу
type_letter = hpi_period_year.pivot_table(index='номер недели', columns='Тип', values='ШПИ', aggfunc='count', fill_value=0)#.reset_index()
# Шаг 2: Вычисляем общую сумму по дате
type_letter['Итого'] = type_letter.sum(axis=1)

# Шаг 3: Вычисляем доли
type_letter = type_letter.div(type_letter['Итого'], axis=0) * 100  # Умножаем на 100 для получения процентов

type_letter.reset_index(inplace=True)
type_letter.to_string(index=False, header=['номер недели', 'заказное', 'простое', 'Итого'])
type_letter

Тип  номер недели   заказное   простое  Итого
0               1  94.156275  5.843725  100.0
1               2  95.991679  4.008321  100.0
2               3  95.902629  4.097371  100.0
3               4  95.112799  4.887201  100.0

# Доля ЮЛ и ФЛ

In [130]:
# Шаг 1: Создаем сводную таблицу
dolya_fl_ul = hpi_period_year.pivot_table(index='номер недели', columns='Тип получателя', values='ШПИ', aggfunc='count', fill_value=0)#.reset_index()
# Шаг 2: Вычисляем общую сумму по дате
dolya_fl_ul['Итого'] = dolya_fl_ul.sum(axis=1)

# Шаг 3: Вычисляем доли
dolya_fl_ul = dolya_fl_ul.div(dolya_fl_ul['Итого'], axis=0) * 100  # Умножаем на 100 для получения процентов

dolya_fl_ul.reset_index(inplace=True)
#print(dolya_fl_ul.to_string(index=False, header=['Неделя', 'ФЛ', 'ЮЛ', 'Итого(ФЛ/ЮЛ)']))

dolya_fl_ul.rename(columns={
    'номер недели': 'Неделя',
    'ФЛ': 'ФЛ',
    'ЮЛ': 'ЮЛ',
    'Итого': 'Итого(ФЛ/ЮЛ)'
}, inplace=True)

dolya_fl_ul

Тип получателя  Неделя         ФЛ         ЮЛ  Итого(ФЛ/ЮЛ)
0                    1  22.638631  77.361369         100.0
1                    2  25.252837  74.747163         100.0
2                    3  26.117615  73.882385         100.0
3                    4  26.412957  73.587043         100.0

# Доля Тарифов

Добавить переменную с разбивкой доли - которую занимает каждый тариф

In [131]:
# Предположим, что hpi_period_year уже существует и содержит нужные данные

# Шаг 1: Создаем сводную таблицу
dolya_tarif = hpi_period_year.pivot_table(index='номер недели', columns='Тариф', values='ШПИ', aggfunc='count', fill_value=0)

# Сброс индекса, чтобы 'номер недели' стал обычным столбцом
dolya_tarif.reset_index(inplace=True)

# Шаг 2: Вычисляем общую сумму по строкам
dolya_tarif['Итого'] = dolya_tarif.sum(axis=1)

# Шаг 3: Вычисляем объединенные значения
dolya_tarif['1+'] = dolya_tarif[31.0] + dolya_tarif[72.0]
dolya_tarif['3+'] = dolya_tarif[[34.5, 38.0, 75.5, 79.0]].sum(axis=1)

# Шаг 4: Вычисляем доли в процентах
dolya_tarif['1+'] = dolya_tarif['1+'] / dolya_tarif['Итого'] * 100
dolya_tarif['3+'] = dolya_tarif['3+'] / dolya_tarif['Итого'] * 100

dolya_tarif['1+'] = dolya_tarif['1+'].round(2) # округдение значений
dolya_tarif['3+'] = dolya_tarif['3+'].round(2) # округдение значений
dolya_tarif['Итого'] = dolya_tarif['1+'] + dolya_tarif['3+'].round(2) # округдение значений

In [132]:
dolya_tarif

Тариф,номер недели,31.0,34.5,38.0,72.0,75.5,79.0,Итого,1+,3+
0,1,753,116,12,9262,4109,824,100.0,66.43,33.57
1,2,3188,609,95,60559,28159,4488,100.0,65.65,34.35
2,3,7133,1322,232,136509,57987,8831,100.0,67.75,32.25
3,4,9758,1805,172,152804,66157,9421,100.0,67.7,32.3

# ARPU / ARPPU

In [133]:
hpi_period_year.head(2)

,ШПИ,ФИО/Название отправителя,Дата и время приема,Тип,Способ доставки,Адрес нормализованный,Тип получателя,Получатель,Тариф,номер недели,месяц,день недели
0,80545604206480,Булгакова Наталия Геннадьевна,2025-01-01 00:18:06,заказное,бумажное,"г Клин, Московская обл, ул Гайдара, д. 25, 141601",ЮЛ,ИФНС РОССИИ ПО Г. КЛИНУ МОСКОВСКОЙ ОБЛАСТИ,75.5,1,January,Wednesday
1,80545604206497,Даурбеков Хусен Баширович,2025-01-01 00:20:19,заказное,бумажное,"г Москва, Москва г, ул Кировоградская, д. 22, ...",ЮЛ,"ТСЖ ""КИРОВОГРАДСКАЯ, 22-2""",72.0,1,January,Wednesday

In [134]:
# 	ARPU (Average Revenue Per User) = Общий доход за период / количество пользователей за период(и отправители и получатели)
# ARPPU (Average Revenue Per Paying User) = Общий доход за период / Количество платящих пользователей за период(только отправители) 
# Группируем по номеру недели и считаем уникальные значения
unique_users_per_week = hpi_period_year.groupby('номер недели').agg({
    'ШПИ': 'count',
    'ФИО/Название отправителя': 'nunique',
    'Получатель': 'nunique',
    'Тариф': 'sum',
}).reset_index()

# Переименовываем колонки для удобства
unique_users_per_week.columns = ['Номер недели','Итого отправлений', 'Уникальных отправителей','Уникальных получателей', 'Выручка',]

unique_users_per_week['Ср.кол писем на 1 отправителя'] = unique_users_per_week['Итого отправлений'] / unique_users_per_week['Уникальных отправителей'] # добавление новой колонки 
unique_users_per_week['ARPPU'] = unique_users_per_week['Выручка'] / unique_users_per_week['Уникальных отправителей']
unique_users_per_week['ARPU'] = unique_users_per_week['Выручка'] / (unique_users_per_week['Уникальных отправителей']+unique_users_per_week['Уникальных получателей'])

unique_users_per_week

,Номер недели,Итого отправлений,Уникальных отправителей,Уникальных получателей,Выручка,Ср.кол писем на 1 отправителя,ARPPU,ARPU
0,1,15076,2297,8299,1069990.5,6.563343,465.820853,100.980606
1,2,97098,14948,49566,6964253.0,6.495718,465.898649,107.949484
2,3,212014,26086,97847,15179863.5,8.127501,581.916104,122.484435
3,4,240117,28315,107667,17112307.0,8.480205,604.354830,125.842442

# LTV

Возможно считать за год? Или брать RR и умножать среднее количество

In [135]:
# LTV (Lifetime Value) = Lifetime (продолжительность пользования продуктом) x ARPU
# Lifetime можно посчитать например за 2024 год - сколько периодов в среднем живут пользователи на нашем портале.
# AOV x lifetime x RPR (Repeat Purchase Rates, число повторных покупок) - эти метрики так же отдельно попробовать расчитать

# Сохранение отчета и добавление данных в файл excel

In [136]:
# для примера - как сохранить переменные в ексель на разных алистах - для отчета.Доделать. 

# Создаем Excel файл с несколькими листами
with pd.ExcelWriter('output.xlsx') as writer:
    merged_count.to_excel(writer, sheet_name='Объем отправлений', index=False) # записываем объем отправлений
    merged_revenue_count.to_excel(writer, sheet_name='Объем выручки', index=False) # записываем объем выручки
    weekly_count_hpi_5.to_excel(writer, sheet_name='Объем ЭУВ', index=False) # записываем объем ЭУВ
    dolya_edo.to_excel(writer, sheet_name='Доля ЭД', index=False) # записываем доля ЭД
    dolya_fl_ul.to_excel(writer, sheet_name='Доля ФЛ и ЮЛ', index=False) # записываем доля ФЛ и ЮЛ
    dolya_tarif.to_excel(writer, sheet_name='Доля Тарифов', index=False) # записываем доля тарифов
    unique_users_per_week.to_excel(writer, sheet_name='ARPU & ARPPU', index=False) # записываем ARPU , ARPPU

print("Данные успешно сохранены в файл output.xlsx на разных листах.")

Данные успешно сохранены в файл output.xlsx на разных листах.

# ДОРАБОТКИ КОТОРЫЕ НЕОБХОДИМО СДЕЛАТЬ В ОТЧЕТЕ

Название столбцов ИТОГО переименовать - для каждого значения уникальное(что бы подгрузить в Data Lens и строить сводные)

Дашборд с 1 страницы - можно ли составить( в последнюю очередь)

для повторяющихся расчетов - написать функции - что бы сократить код

топ отправителей и получателей за последнюю неделю